<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontak HiddenGame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="menu-toggle">&#9776;</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('survey') }}">Beranda</a></li>
            <li><a href="{{ url_for('lokasi') }}">Lokasi</a></li>
            <li><a href="{{ url_for('kontak') }}">Kontak</a></li>
        </ul>
    </nav>
    <header>
        <h1>Kontak HiddenGame</h1>
    </header>
    <main>
        <section>
            <h2>Hubungi Kami</h2>
            <p>Jika Anda memiliki pertanyaan atau masalah, jangan ragu untuk menghubungi kami.</p>
            <p>Email: info@hiddengame.com</p>
            <p>Telepon: 089627389127</p>
        </section>
    </main>
    <script src="script.js"></script>
</body>
</html>
